body
{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
   
}
h1,h2,h3,h4,h5,h6,p,span{
    margin:0px;
}
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.mt-20{
margin-top: 20px;
margin-bottom: 20px;
}
.product_title{
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}
.product_subtitle{
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0px 10px 25px;
}
.product_img{
    width: 100%;
    height: auto;
}
.pro_image{
    height: 16px;
    margin-right: 5px;
}
.product_label{
    padding: 2px 12px;
    border:none;
    font-size: 14px;
}
ul{
    padding-left: 0px;
    margin: 10px 0px;
}
.list_none{
    list-style-type: none;
}
.product_effect_items{
    margin-left: 12px;
    color: #434343;
    font-weight: 500;
    font-size: 14px;
}
.product_effects--left{
    display: inline-block;
    float: left;
    width: 50%;
}
.product_effects-right{
    display: inline-block;
    float: right;
    width: 50%;
}
.product_label-pro{
    color: #23A455;
    background: #DBFCE8;
}
.product_label-con{
    color: #DB0036;
    background: #FBEAEE;
}
.product_features .list{
    margin-bottom: 10px;
}
.product_features_h6{
    display: inline-block;
    font-size: 16px;
    width: 25%;
}
.product_features_span{
    display: inline-block;
    font-size: 16px;
    width: 25%;
    font-weight: 400;
    color: #595959;
}
.dot{
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.feature_img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.button{
    color: white;
    background: #004ae6;
    padding: 6px 15px;
    border: 2px solid #5d8ef7;
    border-radius: 5px;
    z-index: 100;
}
.button-blue-mid{
    margin-top: -15px;
    position: absolute;
    left: 40%;
}

.button-mid{
    text-align: center;
    position: relative;
}
.hr-blue{
    height: 1px;
    color:#123455;
    background-color:#004ae6;
    border: none;
    position: relative;
    top: -68%;
}





/* RESPONSIVE */

/* @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  } */